body {
	background: #134E5E;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #71B280, #134E5E);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: white;
	/*background-size: cover;
	background-position: center;
	height: 100vh;
	background-attachment: fixed;*/
}
.card {
	margin-top: 80px;
	border-radius: 15px;
}
#canvassing a {
	font-size: 0.89em;
}
.btn {
	border-radius: 6px;
}